@charset "utf-8";
.container {
	width: 100%;
	max-width: 80em;
}
main {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	-o-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-webkit-flex-flow: row;
	flex-flow: row;
}
article {
	border: 1px solid #06C;
	width: 70%;
	padding: 1em;
}
aside {
	border: 1px solid #060;
	width: 30%;
	padding: 1em;
}
header h1 {
	line-height: 2em;
	margin: 0;
}
header {
	padding: .2em 1em;
	background-image: url(responsive-header.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;
	height: 32.1875em;
	color: #fff;
	background-position: bottom;
}
/*
Major breakpoint
*/
@media all and (max-width: 40em) {
main {
	-o-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-webkit-flex-flow: column;
	flex-flow: column;
	flex-direction: column;
}
article {
	width: 100%;
}
aside {
	width: 100%;
}
header {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
	text-align: center;
}
}

/* 
Minor breakpoints
*/
@media all and (min-width: 64em) and (max-width: 72em) {
header {
	height: 30em;
}
}
@media all and (min-width: 46em) and (max-width: 64em) {
header {
	height: 24em;
}
}
@media all and (min-width: 40em) and (max-width: 46em) {
header {
	height: 18em;
}
}
@media all and (min-width: 32em) and (max-width: 40em) {
header {
	background-image: url(responsive-header-thin.jpg);
	height: 42em;
	background-position: center;
	padding: .1em .5em;
}
}
 @media all and (max-width: 32em) {
header {
	background-image: url(responsive-header-super-thin.jpg);
	height: 24em;
	background-size: auto;
	padding: .1em .2em;
}
header h1 {
	font-size: 1em;
}
}
