    canvas {
      -ms-touch-action: none;
      touch-action: none;
    }
      #spy{
        width:400px;
        height:200px;
        background: #006699;
        color:#fff;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
        text-transform: uppercase;
        font-size: 48px;
      }
      #spy.toggled{
        background: #996600;
      }
      #reporter {
        overflow: auto;
        height:200px;
        width: 400px;
        border: 1px solid #666;
        padding: 20px;
      }
      #reporter p{
        font-size: 12px;
        line-height:1;
        margin:0;
      }
      #track{
        position:absolute;
        left:0;
        top:0;
        border:1px solid #ccc;
      }
      #reset {
        position: absolute;
        left:1030px;
        top:20px;
      }